
div {
  padding-top: 15px;
  width: 96%;
  margin: auto;
}

.negativeValue {
  color: red;
}

.positiveValue {
  color: green;
}

.inline {
  display: inline;
  padding-right: 5px;
}

.statistic {
  font-size: large;
}
