<div class="modal" [ngClass]="me.visible ? 'visible' : 'notVisible'">
    <div class="modal-content">
        <div class="modal-header">
            <p>{{ 'Confirm' | translate}}!</p>
        </div>
        <div class="modal-body">
            <p>{{ me.message | translate}}</p>
            <span data-toggle="tooltip" title="{{ 'Confirm' | translate }}" class="answer glyphicon glyphicon-ok"
                  (click)="me.onConfirm()"></span>
            <span data-toggle="tooltip" title="{{ 'Cancel' | translate }}" class="answer glyphicon glyphicon-remove"
                  (click)="me.onClose()"></span>
        </div>
    </div>
</div>
