<table>
    <tr>
        <td class="right"><label for="userName">{{ 'Username' | translate }}:</label></td>
        <td><input type="text" id="userName" [(ngModel)]="userName"></td>
    </tr>
    <tr>
        <td class="right"><label for="password" >{{ 'Password' | translate }}:</label></td>
        <td><input type="password" id="password" [(ngModel)]="password"></td>
    </tr>
    <tr>
        <td colspan="2" class="right"><button (click)="onLogin()">{{ 'Login' | translate }}</button></td>
    </tr>
    <tr>
        <td colspan="2"><p class="error">{{ errorMessage | translate }}</p></td>
    </tr>
</table>
