<table>
    <tr>
        <td class="right">{{ 'Username' | translate }}:</td>
        <td><label>
            <input type="text" [(ngModel)]="userName">
        </label></td>
    </tr>
    <tr>
        <td class="right" >{{ 'Password' | translate }}:</td>
        <td><label>
            <input type="password" [(ngModel)]="password">
        </label></td>
    </tr>
    <tr>
        <td colspan="2" class="right"><button (click)="onLogin()">{{ 'Login' | translate }}</button></td>
    </tr>
</table>
