<p>{{ 'Selected task' | translate }}: {{selectedTask.taskId}}</p>
<label for="taskId">{{ 'Task id' | translate }}:</label>
<input id="taskId" value="{{selectedTask.taskId}}" #taskId >
<div>
  <label for="comment">{{ 'Comment' | translate }}:</label>
  <input id="comment" value="{{selectedTask.comment}}" #comment >
</div>
<div *ngIf="selectedTask.startingTime">
  <label for="startTime">{{ 'Start time' | translate }}:</label>
  <input id="startTime" value="{{selectedTask.startingTime}}" #startTime >
  <div *ngIf="selectedTask.endingTime">
    <label for="endTime">{{ 'End time' | translate }}:</label>
    <input id="endTime" value="{{selectedTask.endingTime}}" #endTime >
    <button (click)="modifyTask(taskId.value, comment.value, startTime.value, endTime.value)">{{ 'Modify' | translate }}</button>
  </div>
  <div *ngIf="!selectedTask.endingTime">
    <button (click)="modifyTask(taskId.value, comment.value, startTime.value, '')">{{ 'Modify' | translate }}</button>
  </div>
</div>
