<p>{{ 'Selected task' | translate }}: {{selectedTask.taskId}}</p>
<label for="taskId">{{ 'Task id' | translate }}:</label>
<input id="taskId" [(ngModel)]="newTaskId">
<div>
  <label for="comment">{{ 'Comment' | translate }}:</label>
  <input id="comment" [(ngModel)]="newComment">
</div>
<div *ngIf="selectedTask.startingTime">
  <label for="startTime">{{ 'Start time' | translate }}:</label>
  <input id="startTime" [(ngModel)]="newStartTime">
  <div *ngIf="selectedTask.endingTime">
    <label for="endTime">{{ 'End time' | translate }}:</label>
    <input id="endTime" [(ngModel)]="newEndTime">
  </div>
  <button (click)="modifyTask()">{{ 'Modify' | translate }}</button>
</div>
