h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

body {
    background-color: lightblue;
    font-family: Verdana, sans-serif;
}

ul { list-style-type: none; }

.day {
    height: 100px;
    width: 14%;
}

.day_header {
    width: 14%;
}

.title {
    text-align: center;
}
