
span {
  margin: 5px;
  cursor: pointer;
}

.statistic {
  font-size: large;
}

.inline {
  display: inline;
}

.container {
  margin: auto;
  padding-top: 5px;
  padding-left: 5px;
  width: 96%;
  //border: 1px solid black;
}

.extraMinutes {
  margin-top: 10px;
}
