<h2>{{ 'Task list' | translate }}</h2>
<div *ngIf="date">
  <div>
    {{ 'Selected day' | translate }}: {{date.year}}. {{date.month + 1}}. {{date.day}}.
    <div>
      <br><label>{{ 'Required working minutes' | translate }}: <input value="{{date.requiredWorkMinutes}}" #reqWorkMinutes /></label>
      <button (click)="modifyDay(reqWorkMinutes.value)">{{ 'Modify' | translate }}</button>
    </div>
  </div>
  <my-daily-statistic [date]="date" [tasks]="tasks"></my-daily-statistic><br>
  <div>
    <label>{{ 'Task id' | translate }}: <input [(ngModel)]="taskId"></label>
    <button (click)="startTask();">{{ 'Add' | translate }}</button>
  </div>
  {{ 'Tasks' | translate }}:
  <div *ngFor="let t of tasks">
    <label (click)="onSelectTask(t)">
      {{t.taskId}}, {{t.comment}},
      <label *ngIf="t.startingTime">{{t.startingTime}}</label>-
      <label *ngIf="t.endingTime">{{t.endingTime}}</label>
    </label>
    <button (click)="deleteTask(t)">x</button>
    <label *ngIf="!t.endingTime"><button (click)="finishingTask(t)">{{ 'Finishing' | translate }}</button></label>
  </div>
  <my-modify-task *ngIf="selectedTask" [selectedTask]="selectedTask" [taskList]="me" ></my-modify-task>
</div>
