<div class="left" *ngIf="isLogged()">
    <p class="inline">{{ getUserName() }}</p>
    <span data-toggle="tooltip" title="{{ 'Logout' | translate }}" class="glyphicon glyphicon-log-out"
          (click)="logOut()"></span>
</div>
<nav class="center" *ngIf="isLogged()">
    <a routerLink="/calendar">{{ 'Calendar' | translate }}</a>
    <a routerLink="/task-list">{{ 'Task list' | translate }}</a>
</nav>
<nav class="center" *ngIf="!isLogged()">
    <a routerLink="/login">{{ 'Login' | translate }}</a>
    <a routerLink="/register">{{ 'Register' | translate }}</a>
</nav>
