
.center {
  text-align: center;
}

.right {
  margin-right: 50px;
  text-align: right;
}

.left {
  margin-left: 50px;
  text-align: left;
}

.inline {
  display: inline;
}

span {
  cursor: pointer;
}
