<p class="title">{{ 'Calendar' | translate }}</p>
<div class="month">
  <my-pager></my-pager>
</div>

<table class="header">
  <tr>
    <td *ngFor="let day of daysOfWeek">{{day | translate}}</td>
  </tr>
  <tr *ngFor="let week of weekService.weeks">
    <td class="day" *ngFor="let date of week.days">
      <my-simple-day *ngIf="date.isSimpleDay()" [date]="date" (confirmNewDayWeekend)="onConfirmNewDayWeekend($event)" ></my-simple-day>
      <my-workday *ngIf="date.isWorkDay()" [date]="date"></my-workday>
    </td>
  </tr>
</table>
<my-monthly-statistic></my-monthly-statistic>
<!--<button (click)="deleteAll()">Delete all</button>-->
<my-confirm-modal message="Are you sure working on weekend?" [isVisible]="isWeekend" (confirm)="onConfirm()" (close)="isWeekend = false;"></my-confirm-modal>
