<table align="center">
    <tr>
        <th class="right">{{ 'Username' | translate }}:</th>
        <th><input type="text" [(ngModel)]="userName" (keyup)="onUserNameChanged()"></th>
        <th class="errorMessage" [style.visibility]="getExistUserMessageVisibility()">{{ 'Existing user name!' | translate}}</th>
    </tr>
    <tr>
        <th class="right" >{{ 'Password' | translate }}:</th>
        <th><input type="password" [(ngModel)]="password"></th>
    </tr>
    <tr>
        <th></th>
        <th class="right"><button (click)="onRegister()">{{ 'Register' | translate }}</button></th>
    </tr>
</table>
