<table>
    <tr>
        <td class="right">{{ 'Username' | translate }}:</td>
        <td><label>
            <input type="text" [(ngModel)]="userName" (keyup)="onUserNameChanged()">
        </label></td>
        <td [ngClass]="isExistUser ? 'existUser' : 'notExistUser'">{{ 'Existing user name!' | translate}}</td>
    </tr>
    <tr>
        <td class="right" >{{ 'Password' | translate }}:</td>
        <td><label>
            <input type="password" [(ngModel)]="password">
        </label></td>
    </tr>
    <tr>
        <td colspan="2" class="right"><button (click)="onRegister()">{{ 'Register' | translate }}</button></td>
    </tr>
</table>
